* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 191, 255, 0.588);
}
.container {
  margin: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.input-bar {
  font-size: 1rem;
  margin-top: 6rem;
  padding: 0.5rem;
  width: 30rem;
  outline: none;
  border-radius: 10px;
  border-color: rgb(151, 144, 144);
}
.task-list {
  position: relative;
  right: 23px;
  margin-top: 25px;

  padding: 0.5rem;
  width: 30rem;
}
li {
  list-style: none;

  box-shadow: 0px 0px 5px;
  background-color: rgba(53, 242, 53, 0.521);
  border-radius: 15px;
  padding: 0.7rem;
  margin-top: 1.3rem;
  font-family: sans-serif;
  font-weight: 550;
}
.c-div {
  height: 2rem;

  width: 22rem;
}
span {
  position: absolute;
  left: 25rem;
}
.c-div span button {
  height: 1.8rem;
  font-family: sans-serif;

  outline: none;
  border-style: none;
  border-radius: 8px;
  background-color: rgba(248, 71, 71, 0.901);
  width: 4rem;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(248, 71, 71, 0.901);
  }
}
.add-btn {
  color: white;
  height: 2rem;
  font-family: sans-serif;
  outline: none;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(172, 47, 255);
  transition: box-shadow 0.2s;
  width: 4rem;
  &:hover {
    box-shadow: 0px 0px 8px rgb(172, 47, 255);
    cursor: pointer;
  }
}
